body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1; /* Füllt den verfügbaren Platz */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertikale Zentrierung */
    align-items: center; /* Horizontale Zentrierung */
    text-align: center;
    padding: 20px;
    color: white;
    height: calc(100vh - 160px); /* Höhe minus Header und Footer */
    margin-top: -150px; /* Abstand zur Nav-Bar (anpassen) */
}


footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/Fox.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.project {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    max-width: 600px;
    text-align: left;
}

.project h3 {
    color: #333;
    margin-bottom: 10px;
}

.project p {
    margin-bottom: 10px;
    color: #333;
}

.project a {
    color: #0066cc;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

h2 {
    color: #333;
}

p {
    color: #333;
    margin-top: 0px;
}

footer p{
    color: #fff;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    position: relative;
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.home-link {
    margin-right: 165px;
    margin-left: -250px;
}


.home-icon {
    width: 80px;
    height: auto;
    transition: transform 0.2s;
}

.title {
    flex-grow: 1;
    text-align: center;
    color: #fff;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
